<h2>MANAGE STOCK</h2>

<div class="link">
    <a routerLink="/add-stock" routerLinkActive="active">ADD ITEM</a>
</div>

<div class="link">
    <a routerLink="/update-stock" routerLinkActive="active">UPDATE ITEM</a>
</div>

<div class="link">
    <a routerLink="/delete-stock" routerLinkActive="active">DELETE ITEM</a>
</div>

<div class="link">
    <a routerLink="/stock-report" routerLinkActive="active">STOCK REPORT</a>
</div>

<div class="link">
    <a routerLink="/admin-panel" routerLinkActive="active">Back</a>
</div>

<router-outlet></router-outlet>
