<h2>REGISTRATION FORM</h2>

<div>
    <form>
        Username : <input type="text" [(ngModel)] = "user.username" name="username" required/> <br>
        Password : <input type="password" [(ngModel)] = "user.password" name="password" required/> <br>
        Role : <input type="text" [(ngModel)] = "user.role" name="role" required/> <br>
        <button (click) = "addUser()">Register</button>
    </form>
</div>

<div class="link">
    <a routerLink="/admin-panel" routerLinkActive="active">Back</a>
</div>
